################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirebaseAuth/Firebase/parli-parrot-firebase-adminsdk-bmwz4-d453106034.json
