@{
    ViewData["Title"] = "Home Page";
}

<br />

<h2>Get Custom Firebase Auth Token</h2>
<div id="form-group-get-token">
    <p>
        <em>Token: <span id=""></span></em>
    </p>
    <div class="form-group">
        <button type="submit" class="btn btn-default js-add-member">Get Token</button>
    </div>
</div>

<br />

<h2>Will only insert if logged in (Auth handled within .NET)</h2>

<div id="form-group-add-member">
    <div class="form-group">
        <label class="control-label" for="name">Name:</label>
        <input type="text" class="form-control js-name" id="name" placeholder="Enter email" name="name">
    </div>
    <div class="form-group">
        <label class="control-label" for="city">City:</label>
        <input type="text" class="form-control js-city" id="city" placeholder="Enter password" name="city">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default js-add-member">Submit</button>
    </div>
</div>

<br />

<h2>TODO: Should not insert (Auth not handled in .NET)</h2>
<p>
    <em>Example to show custom token authentication handled within Firebase</em>
</p>

<div id="form-group-add-member-no-auth">
    <div class="form-group">
        <label class="control-label" for="name">Name:</label>
        <input type="text" class="form-control js-name" id="name" placeholder="Enter email" name="name">
    </div>
    <div class="form-group">
        <label class="control-label" for="city">City:</label>
        <input type="text" class="form-control js-city" id="city" placeholder="Enter password" name="city">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default js-add-member">Submit</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/app.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            MembersController.init("#form-group-add-member", "#form-group-add-member-no-auth");
        });
    </script>
}